---
import '@fontsource/m-plus-1';

import SiteHeader, { Props as HeaderProps } from '@components/SiteHeader/SiteHeader.astro';
import SiteFooter from '@components/SiteFooter/SiteFooter.astro';
import BreadcrumbList from '@components/BreadcrumbList/breadcrumbList.astro';

export type OGProperty = {
  type: 'website' | 'blog' | 'article';
  title: string;
  description: string;
};

export interface Props {
  root?: boolean;
  title?: string;
  description?: string;
  ogp: Partial<OGProperty>;
}

const { title, description, root = false, ogp } = Astro.props as Props;
const siteName = 'dairoku-studio' as const;
const defaultDescripton = '技術記事以外のブログや作ったものの置き場として利用しています。' as const;
const headerNavigation: HeaderProps['navItem'] = [
  {
    title: 'about',
    path: '/about',
  },
  {
    title: 'post',
    path: '/post',
  },
  {
    title: 'works',
    path: '/works',
  },
];
---

<html lang="ja" prefix="og: https://ogp.me/ns#" class="dark-mode">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <meta name="theme-color" content="#1f214e" />
    <title>{root ? siteName : `${title} - ${siteName}`}</title>
    <meta name="description" content={description ?? defaultDescripton} />
    <meta property="og:type" content={ogp?.type ?? 'website'} />
    <meta property="og:site_name" content={siteName} />
    <meta property="og:title" content={root ? siteName : `${title} - ${siteName}`} />
    <meta property="og:description" content={ogp?.description ?? description ?? defaultDescripton} />
    <meta property="og:image" content={`${Astro.site}ogp-thumbnail.png`} />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@ken7253_" />
    <meta property="og:url" content="" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <SiteHeader root={root} siteName={siteName} navItem={headerNavigation} />
    {root ? null : <BreadcrumbList />}
    <main class="main">
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>
